@{
    ViewBag.Title = "Login";
    Layout = null;
}
<script src="../bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
<link rel="import" href="../bower_components/iron-flex-layout/classes/iron-flex-layout.html" />
<link rel="import" href="../custom_elements/login-form.html" />
<style>
    body {
        background-color: #76bc80;
    }

    .LogIn {
        margin-left: auto;
        margin-right: auto;
    }
</style>


<div class="container vertical layout">
    <div class="LogIn">
        <login-form></login-form>
    </div>
</div>


